@inherits LayoutComponentBase

<PageTitle>DepartmentsDemo</PageTitle>

<div class="page">
    <main>
        <div class="top-row px-4">
            <a href="https://github.com/KorpinPoika/DepartmentEditor-Blazor" target="_blank">Departments editor demo project on GitHub</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>